@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply text-primary font-sans;
}

@layer base {
	html {
		font-family: 'Inter', sans-serif;
		line-height: 1.3;
	}
	table {
	}
	th,
	td {
		@apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
	}
	thead {
		@apply bg-neutral-100;
	}
	th {
		@apply font-semibold;
	}
	a {
		@apply text-sky-500 hover:underline;
	}
}
@layer components {
	.card {
	  @apply font-bold p-4 text-right text-gray-900;
	  @apply w-72 h-96 rounded-lg bg-cover bg-center relative;
	  @apply shadow-md transition-transform duration-300 ease-out;
	  background-image: url('https://images.unsplash.com/photo-1557672199-6e8c8b2b8fff?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
	}
	.card:hover {
	  @apply shadow-lg;
	  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.27);
	}
	.card .glow {
	  @apply absolute inset-0 bg-[radial-gradient(circle_at_50%_-20%,rgba(255,255,255,0.13),rgba(0,0,0,0.06))];
	}
	.parallax-card {
	  @apply my-5 cursor-pointer rounded-2xl relative min-w-[350px] h-52;
	  @apply transform-style[preserve-3d] select-none;
	}
	.parallax-card .parallax-card-container {
	  @apply relative w-full h-full rounded-2xl transition-all duration-200 ease-out;
	}
	.parallax-card .parallax-card-shadow {
	  @apply absolute top-1 left-1 w-11/12 h-11/12 transition-all duration-200 ease-out;
	  @apply shadow-xl;
	  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
	  z-index: 0;
	}
	.parallax-card .parallax-card-layers {
	  @apply relative w-full h-full rounded-2xl overflow-hidden;
	  @apply transform-style[preserve-3d];
	  z-index: 2;
	}
	.parallax-card .parallax-card-rendered-layer {
	  @apply absolute w-[104%] h-[104%] top-[-2%] left-[-2%] bg-no-repeat bg-center bg-cover transition-all duration-100 ease-out;
	  z-index: 4;
	}
	.parallax-card .parallax-card-shine {
	  @apply absolute inset-0 rounded-2xl bg-gradient-to-br from-white/25 to-transparent;
	  z-index: 8;
	}
	.parallax-card:hover {
	  z-index: 9;
	}
	.parallax-card:hover .parallax-card-shadow {
	  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
	}
  }